<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="src/js/models/audio/webAudio.js"></script>
    <script type="text/javascript" src="src/js/models/animation/clickAnimation/clickAnimation.js"></script>
    <script type="text/javascript" src="src/js/models/animation/pieRotation/pieRotationHandler.js"></script>
    <script type="text/javascript" src="src/js/models/audio/playerSwitch.js"></script>
    <script type="text/javascript" src="src/js/models/palette/colorGenerator.js"></script>
    <script type="text/javascript" src="src/js/models/databaseConnection/loadSlicesFromDatabase.js"></script>
    <script type="text/javascript" src="src/js/models/databaseConnection/updateLoopFromDatabase.js"></script>
    <script type="text/javascript" src="src/js/models/databaseConnection/addSliceToDatabase.js"></script>
    <title>Publishing For Everyone, Murmur.fm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="public/content/images/waitingCover.png">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8a759dc0e2dd1f954c877c33e/421a80220c49d75d763411b55.js");</script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="src/js/models/bodymovin.js"></script>
    <script src="../src/js/client.min.js"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </body>
  <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>
</html>
