<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="src/js/models/audio/webAudio.js"></script>
    <script type="text/javascript" src="src/js/models/animation/clickAnimation/clickAnimation.js"></script>
    <script type="text/javascript" src="src/js/models/animation/pieRotation/pieRotationHandler.js"></script>
    <script type="text/javascript" src="src/js/models/audio/playerSwitch.js"></script>
    <script type="text/javascript" src="src/js/models/palette/colorGenerator.js"></script>
    <script type="text/javascript" src="src/js/models/databaseConnection/loadSlicesFromDatabase.js"></script>
    <script type="text/javascript" src="src/js/models/databaseConnection/updateLoopFromDatabase.js"></script>
    <script type="text/javascript" src="src/js/models/databaseConnection/addSliceToDatabase.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="src/js/models/bodymovin.js"></script>
    <script type="text/javascript" src="src/js/models/index.js"></script>
    <script src="../src/js/client.min.js"></script>
  </body>
  <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>
</html>
