<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div>Thank you</div>
  </body>
  <script>
    setTimeout(function () {
       // after 2 seconds
       window.location = "/";
    }, 2000)
  </script>
</html>
