<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Publishing For Everyone, Murmur.fm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, User-scalable=no">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="public/content/images/favicon.png">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8a759dc0e2dd1f954c877c33e/421a80220c49d75d763411b55.js");</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112472706-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112472706-1');
    </script>
  </head>
  <body>
    <div id="app-thanks"></div>
    <script src="../src/js/pageTwo.js"></script>
  </body>
  <script>
  setTimeout(function () {
     window.location = "/";
  }, 2000)
</script>
</html>
