#article1,
#article-right,
#article-left {
  display: flex;
}

#article2 {
  height: 1000px;
  background: url(../content/svg/diagonalBlock.svg) no-repeat top right
}

#article-right,
#article-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*#article-right {
  background: url('../content/images/backgroundArtwork.jpg') no-repeat bottom right;
  background-size: 1300px 800px;
}*/

#article-left {
  flex-direction: row;
}
