$murmur-primary-red: #FE0004
$murmur-primary-yellow: #FDD113
$murmur-primary-blue: #4891D9


/// Primary Spacer

$cap: .9ex

$spacer-none: 0
$spacer-2xs: round($cap * .5)
$spacer-xs: $cap
$spacer-sm: round($cap * 1.5)
$spacer-md: round($cap * 2.5)
$spacer-lg: round($cap * 4)
$spacer-xl: round($cap * 6.5)
$spacer-2xl: round($cap * 10.5)


// Primary Font

=font--primary-light
  font-family: "Sentinel SSm A", "Sentinel SSm B", serif
  font-style: normal
  font-weight: 300


=font--primary-regular
  font-family: "Sentinel SSm A", "Sentinel SSm B", serif
  font-style: normal
  font-weight: normal

// z-index:

$z-low: 0
$z-middle: 10
$z-top: 100
$z-xtop: 900
