body {
  margin: 0px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.article1, .article-right, .article-left {
  display: flex;
}

.article2 {
  height: 1000px;
  background: url(../content/svg/diagonalBlock.svg) no-repeat top right
}

.article-right, .article-left {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 700px;
}

.play, #title, .contain, .addCircle {
  position: absolute;
}

#title {
  font-size: 40px;
  top:100px;
  height: 100px;
}

#addSlice {
  top:70px;
  left:143px;
  position: absolute;
  background-color: black
}

#punchline {
  color: white;
  text-align: center;
}

.article-right {
  background: url('../content/images/backgroundArtwork.jpg') no-repeat bottom right;
  background-size: 1300px 800px;
}

.article-left {
  flex-direction: column;
}

.contain {
  top: 0px;
  left: 0px;
  height: 160px;
  width: 160px;
  margin: 0px;
  padding: 0px;
  border-radius: 200px;
  overflow: hidden;
}

svg {

}

#dot {
  position: absolute;
  left: 50px;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: white
}

#eye {
  width: 140px;
  height: 90px;
  left: 80px;
  top: 40px;
  position: absolute;
}

#eye1 {
  width: 140px;
  height: 90px;
  left: 80px;
  top: 170px;
  position: absolute;
}

#username{
  left: 130px;
  top: 20px;
  position: absolute;
}

.wrapper1, .wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}

.wrapper1 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  opacity: 0.5;
}

.wrapper {
  margin: 10px;
  border-radius: 20px;
}

svg {

}

.play {
  top: 66px;
  left: 66px;
  border: solid 4px white;
  height: 160px;
  width: 160px;
  margin: 0px;
  padding: 0px;
  background-image: url('../content/images/cover.png');
  border-radius: 200px;
  background-repeat:no-repeat;
  background-size:contain;
  outline: none;
}

.addCircle{
  border: solid 0.2px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  top: 145px;
  left: 55px;
  background-color: white
}

.svg, .svg1 {
  width: 25px;
  height: 25px;
}

.svg1 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
}

.container {
  margin-top: 15%;
  margin-left: 40%;
  margin-right: 50%;
  display: flex;
  flex-direction: row;
}


.pie {
  top: 50px;
  left: 50px;
  position: absolute;
  width: 200px;
  height: 200px;
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}
