.waiting-main-wrapper
  position: absolute
  z-index: -90000
  height: 100vh
  width: 100vw
  animation: fontbulger 4s infinite
  &.bis
    animation: fontbulger 2s infinite

.waitingWrapper1
  +Position(absolute, 18vh, 33vw, 60vh, 60vh)
  opacity: 1
  // filter: blur(40px)

.form-subscribe
  width: 59.3vw
  margin-left: 20vw
  font-family: 'Chivo', sans-serif
  .email
    font-size: 24px !important
    padding-left: 20px !important
    font-weight: 300 !important
  .email::placeholder
    color: black

.subscribe-btn
  position: absolute !important
  right: -5px !important
  top: 22px
  font-family: 'chivo', sans-serif
  font-weight: 300
  background-color: transparent
  border: none
  outline: none
  border-bottom: 1px solid lightgrey
  border-left: 1px solid lightgrey
  box-shadow: none
  transition: border-left 0.2s ease
  transition: border-bottom 0.2s ease

.subscribe-btn:focus
  outline: none
  color: #4CAF4F

.subscribe-btn:hover
  color: #26A599
  border-bottom: 2px solid #26A599
  border-left: 2px solid #26A599

#waitingPlay
  +Position(absolute, 20vh, 35vw, 55vh, 55vh)
  +borderAndRadius(4px, solid, white, 1000px)
  margin: 0px
  padding: 0px
  background-repeat: no-repeat
  background-size: cover
  outline: none
  // filter: blur(20px)

.waiting-title
  position: absolute
  margin-top: 75px
  font-size: 40px
  width: 72vw
  left: 22vw
  color: black
  text-align: left
  font-family: 'Chivo', sans-serif
  font-weight: 400
  z-index: 999999

  .waiting-title-welcome
    font-weight: 700
    font-size: 40px
    font-family: 'Asul', sans-serif
    line-height: 0px

  .waiting-title-main
    font-weight: 300
    font-size: 36px
    line-height: 25px

.waiting-title-line
  position: absolute
  top: 200px
  background: linear-gradient(90deg, black, #4891D9)
  height: 2px
  width: 80vw

  .waiting-title-line-dot
    height: 10px
    width: 10px
    background-color: black
    position: absolute
    left: 20vw
    top: -4px
    border-radius: 10px
    z-index: 99

    &.right
      left: 80vw


.waiting-brand-name-line
  position: absolute
  top: 300px
  background: linear-gradient(45deg, red, yellow)
  height: 2px
  width: 80vw
  left: 20vw

  .waiting-brand-name-dot
    height: 10px
    width: 10px
    background-color: red
    position: absolute
    left: 0vw
    top: -4px
    border-radius: 10px
    animation: shockwave 2s infinite
    z-index: 999

    &.right
      background-color: yellow
      left: 60vw

    &.current-time
      background-color: black
      left: 24vw

      p
        position: absolute
        left: -100px
        top: -50px
        width: 200px

.waiting-brand-name
  position: absolute
  margin-top: 220px
  left: 80vw
  font-size: 40px
  width: 25vw
  color: black
  text-align: left
  font-family: 'Asul', sans-serif
  font-weight: 700
  z-index: 999999
  .brand-name
    position: absolute
    left: -195px


.waiting-sign-up
  position: absolute
  margin-top: 355px
  font-size: 24px
  width: 80vw
  left: 0vw
  color: #777676
  text-align: left
  font-family: 'chivo', sans-serif
  font-weight: light
  z-index: 999999

.waiting-date
  position: absolute
  margin-top: 87.8Vh
  margin-left: 80.3vw
  font-size: 20px
  width: 19.7vw
  color: white
  text-align: right
  background-color: red
  text-align: center
  font-family: 'chivo', sans-serif
  font-weight: 300
  z-index: 999999
  span
    animation: shockwave 2s infinite

.red-text
  font-family: 'chivo', sans-serif

.waiting-sign-up-line
  position: absolute
  top: 400px
  background: none
  height: 1px
  width: 80vw

  .waiting-sign-up-line-dot
    height: 10px
    width: 10px
    background-color: black
    position: absolute
    left: 20vw
    top: -4px
    border-radius: 10px
    z-index: 99

    &.right
      left: 80vw

  .waiting-vertical-line
    height: 99vh
    width: 1px
    background-color: grey
    position: absolute
    left: 20.3vw
    top: -450px

    &.right
      left: 80.3vw
      height: 100vh


@keyframes fontbulger
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0


@keyframes shockwave
  0%
    transform: scale(1)
    box-shadow: 0 0 2px red
    opacity: 1


  100%
    transform: scale(1)

    box-shadow: 0 0 50px rgba(255, 0, 0, 0), inset 0 0 10px red

@keyframes shockwave1
  0%
    transform: scale(1)
    box-shadow: none
    opacity: 1


  100%
    transform: scale(1)

    box-shadow: 0 0 50px rgba(255, 0, 0, 0), inset 0 0 10px green

@keyframes rotating
  from
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)

  to
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)


@keyframes rotating
  from
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)

  to
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)


.rotating
  animation: fontbulger 2s infinite
  -webkit-animation: rotating 15s linear infinite
  -moz-animation: rotating 15s linear infinite
  -ms-animation: rotating 15s linear infinite
  -o-animation: rotating 15s linear infinite
  animation: rotating 15s linear infinite



@media screen and (max-width:768px) 
  .waiting-main-wrapper
    overflow: hidden
  .waitingWrapper1
    +Position(absolute, 20vh, 18vw, 65vw, 65vw)
  .form-subscribe
    width: 79.3vw
    margin-left: 10vw
    .email
      font-size: 17px !important
    .email::placeholder

  .subscribe-btn

  .subscribe-btn:focus

  .subscribe-btn:hover

  #waitingPlay
    +Position(absolute, 22.3vh, 20.3vw, 60vw, 60vw)
  .waiting-title
    margin-top: 103px
    width: 92vw
    left: 12vw
    .waiting-title-welcome
      font-size: 80px
      position: absolute
      top: -50px
    .waiting-title-main
      color: red
      position: absolute
      top: 100px
      font-size: 20px
  .waiting-title-line
    width: 90vw
    .waiting-title-line-dot
      left: 10vw
      &.right
        left: 90vw

  .waiting-brand-name-line
    left: 10vw
    margin-top: 20vh
    .waiting-brand-name-dot
      left: 0
      &.right
        left: 80vw
      &.current-time

        p

  .waiting-brand-name
    top: -4vh
    margin-top: 0
    font-size: 26px
    height: 100px
    width: 100vw
    margin-left: 0
    left: 0
    text-align: center
    .brand-name
      left: 35vw
      font-size: 60px
  .waiting-sign-up
    font-size: 17px
    color: red
  .waiting-date

    span


  .red-text


  .waiting-sign-up-line
    position: absolute
    margin-top: 45vh
    .waiting-sign-up-line-dot
      left: 10vw

      &.right
        left: 90vw

    .waiting-vertical-line
      left: 10.3vw
      top: -1100px
      &.right
        left: 90.3vw


// /// IPHONE 7 PLUS
// @media (min-width : 736px)
//   .waitingWrapper1
//     +Position(absolute, 20vh, 18vw, 20vh, 20vh)
//   #waitingPlay
//     +Position(absolute, 23vh, 20vw, 23vh, 23vh)
//   .waiting-title
//     margin-top: 103px
//     .waiting-title-main
//       color: yellow
//       font-size: 20px
//     .waiting-title-welcome
//       font-size: 26px
//   .waiting-brand-name
//     font-size: 26px
//     .brand-name
//       color: red
//       left: -130px
//   .form-subscribe
//     .email
//       font-size: 17px !important
//   .waiting-sign-up
//       font-size: 17px
//       color: red
//
// /// IPHONE X
// @media (min-width : 812px)
//   .waitingWrapper1
//     +Position(absolute, 20vh, 18vw, 20vh, 20vh)
//   #waitingPlay
//     +Position(absolute, 23vh, 20vw, 23vh, 23vh)
//   .waiting-title
//     margin-top: 103px
//     .waiting-title-main
//       color: pink
//       font-size: 20px
//     .waiting-title-welcome
//       font-size: 26px
//   .waiting-brand-name
//     font-size: 26px
//     .brand-name
//       color: red
//       left: -130px
//   .form-subscribe
//     .email
//       font-size: 17px !important
//   .waiting-sign-up
//       font-size: 17px
//       color: red
