@import "./articles/article1.sass"
@import "./articles/article2.sass"
@import "./articles/article3.sass"
@import "./articles/article4.sass"

.navBar
  height: 100px
  width: 100%
  border-bottom: 1px solid lightgrey
  position: relative

  .navBar-logo-title
    text-align: center

  .navBar-grid-right,
  .navBar-grid-center,
  .navBar-grid-left
    border-left: 1px solid lightgrey
    height: 100px
    position: relative
    width: 200px
