.article6
  height: 1200px
  border-bottom: 1px solid $light-grey
  position: relative

  .article6-slider
    position: absolute
    right: 0px
    height: 100%

    &.small
      top: 75px
      height: 85%

  .slider-button
    +Position(absolute, 800px, null, 15%, null)
    right: 0
