.article4
  height: 650px
  border-bottom: 1px solid $light-grey
  position: relative

  .article4-slider
    +Position(absolute, null, null, 100%, null)
    right: 0px

    &.small
      height: 85%

  .slider-button
    +Position(absolute, 400px, null, 25%, null)
    right: 0

  .text-background
    +Position(absolute, 25%, 35%, null, null)

  .article4-text-content
    +flex(null, center, center)

  .article4-header
    margin-top: 220px
    text-align: right

  .article4-sub-header
    margin-top: 420px
    border-bottom: 1px solid $light-grey
    z-index: 900

  .header-line-left
    height: 1px
    margin-top: 18%
    background-color: $light-grey

  .slider-btn
    +flex(null, center, center)
    +Position(absolute,320px, null, null, 100px)
    color: white
    font-size: 90px
    right: 0px
    z-index: 9999

  h1
    +configFont(120px, bolder, null)

  h2
    +configFont(40px, lighter, null)
