.side-nav-bar
  height: 100px
  border-bottom: 1px solid $light-grey
  display: flex
  justify-content: center
  align-items: center
  font-size: 100px
  font-family: 'Cardo', serif

.side-article1
  height: 550px
  border-bottom: 1px solid $light-grey

.align-right
  background-color: red

.side-article2
  height: 200px
  border-bottom: 1px solid $light-grey

.side-article3
  height: 500px
  border-bottom: 1px solid $light-grey

.side-article4
  height: 650px
  border-bottom: 1px solid $light-grey
